.cardSelection {
  color: white;
  font-size: 1.5rem;
  max-height: 65vh;
  overflow-y: scroll;
}

.classCardSelection {
  color: white;
  font-size: 1.5rem;
  width: 20vw;
}

.deckClassSelection {
  display: flex;
  flex-flow: wrap;
  width: 20vw;
}

#classSelection > div {
  margin: 1rem;
}


.deckHeroArea {
  display: flex!important;
  flex-flow: row!important;
  justify-content: center!important;
  align-items: baseline!important;
}

#deckList {
}

.cardEntry {
  font-size: 1.25rem!important;
  margin-bottom: 0.5rem;
  background: #333;
}

.cardEntry:hover {
  cursor: pointer;
}

.deckEntry {
  color: white;
  font-size: 1.25rem;
  background: #333333;
}

.deckEntry:hover {
  cursor: pointer;
}

#deckfinal {
  height: 35vh;
}

#deckContainer {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  font-size: 1.5rem;
  color: gold;
  width: 15vw;
}

#deckOutput {
  webkit-user-select: all;
  user-select: all;
  font-size: 0.8rem;
  padding: 0.5rem;
}

#genDeckList {
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  padding-top: 10px;
  background: url(../public/assets/gui/Card_game_GUI/Parts/Button_Medium_On.png) no-repeat;
  background-size: cover;
  width: 12rem;
  height: 5rem;
  font-size: 1.2rem;
}

#genDeckList:hover  {
cursor: pointer;
color: gold;
}


#wrapper {
display: flex;
justify-content: space-between;
height: auto!important;
}
.container {
background: none!important;
padding-top: 2rem;
}

#heroAreas {
width: 30vw!important;
}

.deckSpellCard {
color: #188ff6 !important;
}

.deckMonsterCard {
color: white!important;
}
.deckSpellCard:hover {
color: #6fe614!important;
}
.deckMonsterCard:hover {
color: #6fe614!important;
}
.deckLegendaryMonsterCard:hover {
color: #6fe614!important;
}

.deckLegendaryMonsterCard {
color: gold!important;
}

#backgroundContainer {
height: 100vh;
position: absolute;
width: 100%;
z-index: -1;
background: #685b4e;
}
#upperBackground {
height: 74vh;
width: 100%;
background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Backgrounds/wood_board_upper.png);
background-repeat: no-repeat;
background-size: cover;
}
#lowerBackground {
height: 26vh;
background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Backgrounds/wood_board_lower.png);
background-repeat: no-repeat;
background-size: 100%;
width: 100%;
}