body {
    margin: 0;
    padding: 0;
    background: #383F51;
    /*background: #383F51;*/
    /*background: #F2D0A4;*/
    font-family: 'Poppin', Arial, Helvetica, sans-serif;
}

button {
    color: #fff;
    font-size: 2.5rem;
    background: rgba(0, 0, 0, 0);
    border: none;
}
button:focus {
    outline: none;
}

button:hover {
    color: darkorange;
    cursor: pointer;
}
.highlightButton {
    color: #31ff04;
    font-size: 2.5rem;
}

#gameContainer {
    display: flex;
    flex-flow: row-reverse;
    /*justify-content: space-between;*/
    justify-content: center;
    /*background: #f1ede7;*/
    background: #ddd;
    padding: 1rem;
    /*background: #07123b;*/
}

#cardContainer {
    padding: 25px 15px 80px 15px;
    background: #383F51;
    /*background: rgba(22, 22, 22, 0.71);*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /*justify-content: space-around;*/
    /*justify-content: flex-start;*/
    /*max-height: 475px;*/
    /*max-width: 47%;*/
    overflow-y: scroll;
}

#historyContainer {
    width: 18rem;
    /*position: relative;*/
    color: black;
    font-size: 2rem;
    /*background: #000;*/
    /*background: #000;*/
    background: white;
    /*background: #383F51;*/
    position: absolute;
    right: 0;
    top: 0;
    height: 832px;
    border-left: 2px solid #ccc;
    padding: 0 10px;
}

#historyContainer div {
    border-bottom: 1px solid black;
    /*border-bottom: 1px solid orange;*/
    margin-bottom: 5px;
}

.historyEntry {
    color: black;
    border-bottom: 1px solid black;
    /*border-bottom: 1px solid orange;*/
    padding: 0 4px 0.5rem 4px;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

#cellTooltip {
    color: black;
    font-size: 2rem;
    position: absolute;
    left: 35rem;
    top: 15rem;
    /*width: 18rem;*/
    padding: 20px 15px;
    border: 4px solid #ccc;
    border-radius: 3px;
    background: white;
    z-index: 10;
    pointer-events: none;
}

#cellTooltip div {
    margin-bottom: 2px;
}

#introMessage {
    font-size: 2rem;
    color: white;
    margin: 0 auto;
}

#gameOverMessage {
    position: absolute;
    left: 40%;
    top: 20%;
    padding: 25px 50px;
    border: 3px solid #ccc;
    font-size: 2.5rem;
    background: #ddd;
}

#returnToLobby {
    text-decoration: underline;
}
#returnToLobby:hover {
    color: orange;
    cursor: pointer;
}

#heroStatsContainer {
    padding-top: 8px;
    border-radius: 3px;
    font-size: 2rem;
    color: white;
    position: absolute;
    left: 10px;
    top: 0;
}

.heroStat {
    padding: 5px;
    margin: auto;
}

#heroSkillsContainer {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding-left: 4rem;
}

.heroSkill {
    border: 3px solid #333;
    border-radius: 5px;
    margin: 0 1rem;
    padding: 5px;
    font-size: 2rem;
    color: #333;
    background: #666;
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 4.5rem;
}
.heroSkill:hover {
    cursor: pointer;
    box-shadow: 0 5px 80px 25px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);
    /*color: crimson;
    border: 3px solid yellow;
    box-shadow: 0 0px 45px 10px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);*/
}
.playableSkill {
    background: #000;
    color: gold;
    /*background: #eca867;
    color: #220C10;*/
    box-shadow: 0 0px 70px 25px #6314e6, 0px 0px 22px 7px rgb(151, 219, 255);
    /*background: #fff;*/

}

.displayHeroSkillTooltip {
    display: block;
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 6.5rem;
    left: -6.5rem;
    width: 20rem;
    z-index: 10;
    pointer-events: none;
}


#bottomActionBar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2rem 0;
    position: relative;
}

#buttonContainer {
    display: flex;
}


#heroHp {
    color: crimson;
}
#heroMana {
    color: #54d6ff;
}

.spellCardStyle {
    border: 1px solid #2eb7ff;
}
.minionCardStyle {
    border: 1px solid #fffe27;
}
.cardStyle {
    border-radius: 3px;
    background: #381e1c;
    height: 20rem;
    width: 13rem;
    margin: 0 1rem;
    transition: .2s all;
    position: relative;
    padding: 7px 0;
}
.cardStyle div {
    font-size: 1.75rem;
}

.cardStyle:hover {
    background: #4c2926;
    border: 4px solid #ffdc36;
    /*box-sizing: border-box;*/
    box-shadow: 0 5px 110px 25px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);
    cursor: pointer;
}

.cardContent {
    border: 1px solid #ff9b0e;
    border-radius: 3px;
    height: 90%;
    margin: 0.85rem 0.95rem;
    background: #eca867;
    pointer-events: none;
}

.displayTooltip {
    display: block;
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -2rem;
    right: 3.5rem;
    width: 20rem;
    z-index: 10;
    pointer-events: none;
}

.hideTooltip {
    display: none;
}

.hasTooltip::after {
    content: "Effect";
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-size: 1.4rem;
}

.playableMinion {
    border: 4px solid #fffe27;
    box-shadow: 0 0 30px 10px #fffe27;
}

.playableSpell {
    border: 4px solid #2eb7ff;
    box-shadow: 0 0 30px 10px #2eb7ff;
}


/* scroll bar styles */

.scrollbar
{
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}


/* ===================================================== */


@media (min-width: 1600px) {
}