* {
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    /*background: #383F51;*/
    /*background: #F2D0A4;*/
    font-family: 'Poppin', Arial, Helvetica, sans-serif;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

button {
    /*color: #fff;*/
    font-size: 2.5rem;
    background: rgba(0, 0, 0, 0);
    border: none;
    transition: all 0.1s;
}
button:focus {
    outline: none;
}
button:hover {
    color: darkorange;
    cursor: pointer;
}
.highlightButton {
    box-shadow: 0px 0px 43px 36px #4fe607, 0px 0px 24px 4px rgb(244, 255, 0);
    transition: all 0.2s;
}
.highlightButton span {
    color: #6fe614;
}
.endOfTurnButtonStyle {
    color: #666!important;
}
.endOfTurnButtonStyle img {
    filter: grayscale(100%)!important;
    cursor: default!important;
}
.endOfTurnButtonStyle:hover {
    cursor: default!important;
}

#introContainer h1 {
    font-family: 'Lovers Quarrel', Arial, Helvetica, sans-serif;
    font-size: 10rem!important;
    margin: 0;
    font-weight: normal;
}



#gameContainer {
    display: flex;
    flex-flow: row;
    /*
    background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Parts/Desk_gimp.png);
    background-position: center;
    background-position-x: 55rem;
    background-repeat: no-repeat;*/

    /* padding: 1rem; */
    box-sizing: border-box;
    height: 74vh;

    /*https://ctrlmonster.github.io/wizardchess*/
    background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Backgrounds/wood_board_upper.png);
    background-repeat: no-repeat;
    background-size: cover;

  }


  .heroFrameContainer {
      position: relative;
      transform: scale(1);
  }
  .heroFrame {
    position: absolute;
    width: 24rem;
    height: 12rem;
    filter: drop-shadow(6px 6px 0px rgba(0,0,0,.4));
  }

  .heroClass {
      position: absolute;
      width: 14rem;
      height: 14rem;
      left: 4.8rem;
      top: -1rem;
      filter: drop-shadow(2px 4px 6px black);
  }
  .heroFrameStat {
      position: absolute;
      width: 5.5rem;
      height: 5.5rem;
      top: -.5rem;
      filter: drop-shadow(3px 3px 1px rgba(0,0,0,0.3));
  }

  .heroFrameHP {
      right: -23.5rem;
  }
  .heroFrameMana {
      left: 0rem;
  }


  .heroFrameStat img {
      width: 100%;
  }
  .heroFrameStat span {
      position: absolute;
      top: 1.8rem;
      left: 1.6rem;
      font-family: 'Bitter', Arial, Helvetica, sans-serif;
      font-weight: 700;
      font-size: 2rem;
      -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

body {
    max-width: 100vw;
}

#wrapper {
    height: 100vh;
    background: #685b4e;
    /* background-image: url(/public/assets/searched_images/woodtexture.jpg); */
    /*background-image: url(/public/assets/searched_images/background_1.jpg);

     */

    /*background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Backgrounds/Background_05.png);*/
    /* background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/Field-Background/flat-field-bg2.png); */
    /* background-repeat: no-repeat; */

    /*background-size: 100%;
    background-position-y: -205px;*/
}

#canvasContainer {
    /*
    background: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Parts/Desk_gimp_quad.png) no-repeat;
    background-size: 101.6%;
    */
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
}

#canvasContainer canvas {
    opacity: 1;
    height: 100%!important;
    width: 100%!important;
    /*
    height: 67vh!important;
     */
    /*
    width: 67vh!important;
     */
    border-radius: 25px;
}

#cardContainerBorder {
    position: absolute;
    height: 15px;
    width: 100%;
    top: -7px;
}

#nextTurn {
    font-size: 1.2rem;
}

#cardContainer {
    position: relative;
    height: 26vh;
    align-items: center;
    box-sizing: border-box;
    padding-top: 1.5rem;
    /*
    background-image: url("https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Backgrounds/planke.png");

     */

    /*
    background-image: url("https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Backgrounds/Background_05.png");
    background-size: 100%;*/
    /*
    background-position-y: -11rem;
     */

    /*
    padding: 25px 15px 35px 15px;
     */
    /*background: #383F51;
    background: #ddd;

     */
/*
    background-image: url("/public/assets/searched_images/woodtexture.jpg");
 */
    /*
    background-image: url("/public/assets/gui/Card_game_GUI/Backgrounds/Background_05.png");
     */

    /*https://ctrlmonster.github.io/wizardchess*/
    background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Backgrounds/wood_board_lower.png);
    background-repeat: no-repeat;
    background-size: 100%;
    /*background: rgba(22, 22, 22, 0.71);*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /*justify-content: space-around;*/
    /*justify-content: flex-start;*/
    /*max-height: 475px;*/
    /*max-width: 47%;*/
    /*
    overflow-y: scroll;
     */
}

#historyContainer {
    width: 20rem;
    /* position: relative; */
    font-size: 2rem;
    /* background: #000; */
    /* background: #000; */
    /* background: white; */
    /*
    background: rgba(0, 0, 0, 0.5);
     */
    position: absolute;
    right: 0;
    top: 6rem;
    height: 650px;
    padding-left: 10px;
    /* pointer-events: none; */
    border-radius: 5px;
}

#turnInfo {
    position: absolute;
    right: 2rem;
    top: .5rem;
    height: 3rem;
    font-size: 1.8rem;

}

#historyHeader {
    position: absolute;
    right: 0;
    top: .5rem;
    width: 18rem;
    padding: 0 10px;
    height: 3rem;
    font-size: 2rem;
}

#historyContainer div {
    /*border-bottom: 1px solid white;

     */
    /*border-bottom: 1px solid orange;*/
    /*margin-bottom: 5px;

     */
}

.historyEntry {
    border-bottom: 1px solid white;
    font-size: 1.3rem;
    margin-bottom: 5px;
    /* border-bottom: 1px solid orange; */
    /*
    background: rgba(0, 0, 0, 0.5);
     */
    /* margin-bottom: 5px; */
    color: white;
}

#cellTooltip {
    font-size: 1.5rem;
    position: absolute;
    left: 75vw;
    top: 0rem;
    z-index: 10000000!important;

    border: 4px solid darkorange;
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.7);

    /*width: 18rem;*/
    padding: 20px 15px;
    border-radius: 3px;
    /*
    background: white;
    border: 4px solid #ccc;
*/

    pointer-events: none;
}

#cellTooltip div {
    margin-bottom: 2px;
}

#introMessage {
    font-size: 2rem;
    color: white;
    margin: auto auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#gameOverMessage {
    position: absolute;
    /* margin: 0 auto; */
    left: 30vw;
    top: 25vh;
    padding: 25px 50px;
    border: 3px solid #ccc;
    font-size: 2.5rem;
    background: #ffb800;
    display: flex;
    background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Parts/winning_decorations.png);
    -webkit-background-size: cover;
    background-size: cover;
    z-index: 100;
    height: 35vh;
    width: 40vw;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

#startDuelMessage {
    position: absolute;
    left: 30%;
    top: 20%;
    padding: 25px 50px;
    font-size: 5rem;
    color: #6314e6;
}

#returnToLobby {
    text-decoration: underline;
}
#returnToLobby:hover {
    color: orange;
    cursor: pointer;
}

#heroStatsContainer {
    padding-right: 2px;
    border-radius: 3px;
    font-size: 2rem;
    display: flex;
    /* justify-content: flex-end; */
    margin-bottom: 11.5rem;
    margin-left: 5rem;
    transform: scale(.9);
}

#enemyHeroStatsContainer {
    padding-right: 2px;
    border-radius: 3px;
    font-size: 2rem;
    display: flex;
    /* justify-content: flex-end; */
    margin-left: 9rem;
    margin-bottom: 9rem;
    margin-right: 26rem;
    transform: scale(.65);
}

.rotateCanvas {
    transform: rotate(180deg);
}

#enemyStatsContainer {
    border-radius: 3px;
    font-size: 2rem;
    padding-left: 2px;
    margin-top: 1.5rem;
}

.heroStat {
    padding: 5px;
    margin: auto;
}

#heroSkillsContainer {
    margin-bottom: 3rem;


}
#enemySkillsContainer {

}

.deckSize {
    /*position: absolute!important;
    left: 3rem;
    bottom: 22rem;

     */
    margin-left: 3rem;
    margin-bottom: 1rem;
    position: relative;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,.5));
    box-shadow: 2px 1px 3px 2px rgba(0, 0, 0, 0.5);
}

#cardsLeft {
    z-index: 1;
    position: absolute;
    left: 6rem;
    top: 9rem;
}

#heroAreas {
    width: 37vw;
    display: flex;
    flex-flow: column-reverse;
    align-items: center;
    justify-content: space-between;
}

#heroArea {
    display: flex;
    align-items: flex-end;
    width: 100%;
    justify-content: space-between;
    padding-right: 25px;
    box-sizing: border-box;
}
#enemyArea {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    padding-right: 3rem;
    padding-top: 5rem;
}

.skillIcon {
    position: relative;
    width: 5.5rem;
    height: 5.5rem;
    pointer-events: none;
}
#enemyArea .skillIcon {
}

.enemySkillIcon {
    position: relative;
    width: 4.5rem;
    height: 4.5rem;
    pointer-events: none;
}

.skillOnCd {
    filter: grayscale(100%);
}
.skillCd {
    color: darkorange;
    font-size: 4.5rem;
    position: absolute;
}

#enemySkillsContainer .skillCd {
    font-size: 4.5rem;
}

.skillBinding {
    position: absolute;
    right: .2rem;
    bottom: -.1rem;
    z-index: 10;
    color: white;
    font-weight: 100!important;
    font-size: 1rem!important;
}


.heroSkillTooltip {
    position: absolute;
    left: 0;
    bottom: -10px;
    z-index: 100000000!important;
    font-size: 1.5rem;
    /*width: 10rem;
    height: 10rem;*/
    /*color: rgba(0, 0, 0, 0);*/
}
#enemySkillsContainer .heroSkillTooltip {
    top: 0;
}

.mainSkillInfo {
    /*display: block;*/
    color: darkorange;
}

.heroSkillbarBg {
    position: absolute;
    top: -14px;
    left: -16px;
    width: 103%;
    height: 127%;
}
.heroSkillbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px auto;
    position: relative;
    transform: scale(0.9);
}

.heroSkill {
    border: 5px solid #333;
    border-radius: 5px;
    /*margin: 0 1rem;*/
    margin-right: 1rem;
    /*padding: 5px;*/
    font-size: 2rem;
    color: #333;
    background: #666;
    display: flex;
    justify-content: center;
    position: relative;
    box-shadow: 2px 3px 1px 1px rgba(0, 0, 0, 0.5);
    /*margin-left: 4.5rem;*/
}
.heroSkill:hover {
    cursor: pointer;
    box-shadow: 0 5px 50px 25px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);
    border: 5px solid darkorange;
    /*color: crimson;
    border: 3px solid yellow;
    box-shadow: 0 0px 45px 10px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);*/
}

#enemySkillsContainer .heroSkill {
    cursor: auto;
}


.playableSkill {
    /*background: #000;
    color: gold;*/
    /*background: #eca867;
    color: #220C10;*/
    /*
    box-shadow: 0 0px 25px 7px #6314e6, 0px 0px 22px 7px rgb(151, 219, 255)!important;
     */
    border: 5px solid #9d0dff;
    box-shadow: 2px 3px 1px 1px rgba(0, 0, 0, 0.5), 1px 0 10px 4px #6314e6;

    /*background: #fff;*/
}

.displayHeroSkillTooltip {
    display: block;
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 6.5rem;
    left: -6.5rem;
    width: 20rem;
    z-index: 10;
    pointer-events: none;
}
#enemySkillsContainer .displayHeroSkillTooltip {
    top: 6.5rem;
    /*height: 100%;*/
    bottom: auto;
}


/*#bottomActionBar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2rem 0;
    position: relative;
}*/
#queue {
    margin-top: 3rem;
}

#buttonContainer {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    width: 15vw;
    align-items: flex-end;
}

.mainButtonStyle {
    margin-bottom: 2rem;
}

.mainButtonStyle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5.5rem;
}

/*.mainButtonStyle:hover {
    cursor: pointer;
}*/

#endTurn {
    width: 15rem;
    box-shadow: 4px 1px 11px 33px rgba(0,0,0,0.5)
}

#queue  {
    width: 20rem;
}
#queue:hover  {
    cursor: pointer;
}
#queue:hover span {
    color: gold!important; /* Will override color (regardless of order) */
    /*
    -webkit-text-fill-color: #9d0dff!important;
     */
}

#endTurn:hover {
    cursor: pointer;
}
#endTurn:hover span {
    /*
    box-shadow: 0px 0px 45px 40px #e60007, 0px 00px 50px 25px rgb(255, 235, 0)!important;
     */
    color: gold!important; /* Will override color (regardless of order) */
    /*-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/

}

.mainButtonStyle img {
    position: absolute;
    width: 20rem;
    height: auto;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
}

.mainButtonStyle span {
    margin: auto;
    font-size: 2rem;
    z-index: 1;
    top: 2rem
}



#heroHp {
    color: crimson;
}
#heroMana {
    color: #385eff;
}

#enemyHeroHp {
    color: crimson;
}
#enemyHeroMana {
    color: #385eff;
}

.spellCardStyle {
    border: 3px solid #2eb7ff;
}
.minionCardStyle {
    border: 3px solid #fffe27;
}

.cardIconStyle {
    margin: 0 auto;
    /*
    border: 2px solid #333333;
     */
}

.cardStyle {
    border-radius: 3px;
    background: #381e1c;
    height: 20rem;
    width: 13rem;
    margin: 0 1rem;
    transition: .2s all;
    position: relative;
    padding: 7px 0;
}
.cardStyle div {
    font-size: 1.5rem;
}

.cardStyle:hover {
    /*box-sizing: border-box;*/
    box-shadow: 0 5px 110px 25px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);
    cursor: pointer;
}

.cardContent {
    border: 1px solid #ff9b0e;
    border-radius: 3px;
    height: 90%;
    margin: 0.85rem 0.95rem;
    background: #eca867;
    pointer-events: none;
}

.displayTooltip {
    display: block;
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -2rem;
    left: -1.5rem;

    /*
    right: 3.5rem;
     */
    max-width: 20rem;
    z-index: 10;
    pointer-events: none;
}

.hideTooltip {
    display: none!important;
}

.hasTooltip::after {
    content: "Effect";
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-size: 1.4rem;
}

.playableMinion {
    box-shadow: 0 0 30px 10px gold!important;
}
.playableMinion:hover {
    box-shadow: 0 0 30px 10px gold!important;
}

.selectedCard {
    transform: scale(0.85) translate(0, -1rem);
}

.playableSpell {
    box-shadow: 0 0 30px 10px #2eb7ff!important;
    /*
    box-shadow: 0 0 30px 10px #2eb7ff!important;
     */
}
.playableSpell:hover {
    box-shadow: 0 0 30px 10px #2eb7ff!important;
}


/* scroll bar styles */

.scrollbar
{
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}


/* ===================================================== */

/* select styling */

.select-css {
    display: block;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #383F51;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 250px;
    /*width: 100%;
    max-width: 100%;*/
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px #383F51;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}


/* ===================================================== */

#turnNumber {}
#phaseOwner {}


/* ===================================================== */

/* new card styles */

/* border_card and base_card 974 x 1425 -- width/height ratio: 0,683508772 */
/* base cardname 855 x 181 */
/* card image size: 774 x 793 */
/* border_illustration size: 813 x 833 -- width/height ratio: 0,975990396 -- width rel to base_card: 0,834702259*/
/* text_box 823 x478 or 857 x 508*/
/* text_paper 816 x 493 */



.cardElement {
    width: 13.66rem;
    height: 20rem;
    position: relative;
    transition: all 0.25s;
    z-index: 10;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
.cardElement:hover {
    box-shadow: 0 5px 80px 25px red, 1px 6px 22px 8px rgba(255, 255, 0, 1)!important;
    cursor: pointer;
    /* add zoom to card here in the future when cards are created properly on hand update */
}



.cardElementSize {
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    -ms-transform: scale(0.65);
    -o-transform: scale(0.65);
    transform: scale(0.65);
}

.cardImageContainer {
    /*
    width: 11.40rem;
     */
    width: 11.4rem;
    height: 11.13rem;
    margin: 1rem auto 1rem;
    position: relative;
}
.cardImageContainer img.cardImageBorder {
    /*width: 11.82rem;
    height: 11.62rem;
    position: absolute;
    top: -1rem;
    left: -.2rem;*/
    width: 12.8rem;
    height: 11.62rem;
    position: absolute;
    top: -.85rem;
    left: -.8rem;

}



.cardImageContainer img.cardImage  {
    /*width: 11.40rem;
    height: 11.13rem;*/
   /* width: 11.18rem;
    height: 11.38rem;
    object-fit: cover;
    box-sizing: border-box;
    border-radius: 5px;
    top: -.7rem

    */

    width: 12.05rem;
    /* height: 11.38rem; */
    object-fit: cover;
    box-sizing: border-box;
    /*
    border-radius: 5px;
     */
    top: -.3rem;
    left: -.3rem;
}

.cardTextBox {
    /*
    opacity: 0.85;
     */
}

.cardElement img {
    width: 100%;
    height: auto;
    /*
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,.5));
     */
}

.cardElemShadow {
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,.5));
}

img.dragonTailStyle {
    position: absolute;
    bottom: -.25rem;
    right: 1.5rem;
    width: 14rem;
    transform: scaleX(-1) rotate(20deg);
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,.5));
}

img.smallWingStyle {
    -webkit-transform: scaleX(-1) rotate(-10deg);
    transform: scaleX(-1) rotate(-10deg);
    width: 11rem;
    position: absolute;
    top: -1.3rem;
    right: -5.6rem;
    filter: drop-shadow(2px 4px 6px rgba(0,0,0,.5));
}
img.smallWingStyleLeft {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    left: -5.5rem;
}

#zoomCard {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    position: absolute;
    left: 8.2rem;
    top: 9.7rem;

    -webkit-transform: scale(1.22);
    -moz-transform: scale(1.22);
    -ms-transform: scale(1.22);
    -o-transform: scale(1.22);
    transform: scale(1.22);
    transition: all 0.25s;


}


/*.cardElement:hover {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    position: absolute;
    bottom: 0;
}*/
/*
.cardElement:hover .cardElement:before {
    border: 1px solid red;
    background: #000;
    position: relative;
    height: 20rem;
}*/



.cardNumber {
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    /*-webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;*/
    color: white;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.cardName {
    font-family: 'Bitter', Arial, Helvetica, sans-serif;
    font-weight: normal!important;
    font-size: 1.5rem;
  /*
    color: white;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
*/

    -webkit-text-fill-color: #000000!important;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #43404c;

}



/* =============================================================================== */
/* =============================================================================== */
/* =============================================================================== */


/* new html game table */

table, tr, td {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 0;
    border: none;
}



#htmlGameTable {
    background: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Parts/Desk_gimp_quad.png) no-repeat;
    background-size: 150%;
    width: 70.37vh;
    table-layout: fixed;
    border: 23px solid #412003;
    border-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/Card_game_GUI/Backgrounds/wood_board_lower.png) 175 67 54 1015;
    border-collapse: initial;
    background-position-x: -14rem;
    background-position-y: -20rem;
    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.5)
}

.gameTableCell {
  width: 8vh;
  height: 8vh;
}

.cellImageWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items:center;
  transition: all 0.15s;
  transition-timing-function: ease-out;
}

.cellBorderImage {
  position: absolute;
  left: -4px;
  top: -4px;
  width: 108%;
  height: 118%;
}


.cellTankIcon {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 25%;
  height: 25%;
}

.cellCommanderIcon {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 5%;
  height: 24%;
}

.cellIdlingIcon {
    position: absolute;
    top: 0;
    margin: 0 auto;
    width: 20%;
    height: 20%;
    filter: invert(1);
}

.cellCCIcon {
    position: absolute;
    right: 0;
    margin: auto 0;
    width: 25%;
    height: 25%;
    border-radius: 90px;
    background: url('https://ctrlmonster.github.io/wizardchess/public/assets/icons/PNG/37.png') 100% no-repeat;
    background-size: cover;
}

.cellDebuffIcon {
  position: absolute;
  left: 0;
  margin: auto 0;
  width: 25%;
  height: 25%;
  border-radius: 90px;
  background: url('https://ctrlmonster.github.io/wizardchess/public/assets/icons/PNG/11.png') 100% no-repeat;
  background-size: cover;
}

.cellContentImage {
  object-fit: cover;
  width: 83%;
  height: 95%;
  border-radius: 90px;
}

.cellContentImageBackground {
  background: linear-gradient(0deg, black, #b5b5b5);
}

.cellContentImageBorder {
  border: 2px solid silver;
}



.cellMonsterStat {
  background-size: 100%;
  font-size: 1.35rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  position: absolute;
  color: white;
  text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}



.cellMonsterHP {
  bottom: 0;
  right: 0;
  background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/dragon_TCG-assets/energy_red_gimp.png);
}

.cellMonsterAtk {
  left: 0;
  bottom: 0;
  background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/dragon_TCG-assets/energy_yellow.png);
}

.cellMonsterMana {
  right: 0;
  top: 0;
  background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/dragon_TCG-assets/energy_blue.png);
}

.cellMonsterMagicPower {
  background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/dragon_TCG-assets/energy_violet_gimp.png);
}

.cellMonsterHealPower {
  background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/gui/dragon_TCG-assets/energy_green.png);
}

.cellStatPosBotLeft {
  bottom: 0;
  left: 0;
}

.cellStatPosTopLeft {
  top: 0;
  left: 0;
}





/*
.darkerCell .cellContentImage {
  border: 2px solid #999;
}
.brighterCell .cellContentImage {
  border: 2px solid #666;
}*/

.hideCellContent {
    opacity: 0!important;
    /*TODO: check if display none is better*/
}

.darkerCell {
    background: rgba(154, 154, 154, 0.5);
}

.brighterCell {
    background: rgba(255,255,255,.5);
}

.enemyCell {
    background: rgba(115, 1, 1, 0.87);
    /*
    background: rgba(224, 17, 17, 0.4);
     */

}

.friendlyCell {
    /*
    background: rgba(17, 49, 224, 0.5);
     */
    background: rgba(11, 29, 131, 0.76);
}

.enemyCell:hover {
    background: rgba(172, 3, 3, 0.95);
    box-shadow: 2px 3px 6px 3px rgba(99, 0, 3, 0.82);
    /*
    background: rgba(224, 17, 17, 0.7);
     */
}

.friendlyCell:hover {
    background: rgba(10, 18, 194, 0.79);
    box-shadow: 2px 3px 6px 3px rgba(6, 15, 50, 0.92);
    /*
    background: rgba(17, 49, 224, 0.8);
     */
}
.friendlyCell .cellContentImage {
    box-shadow: 0 0 8px 5px rgba(178, 189, 212, 0.43);
}
.enemyCell .cellContentImage {
    box-shadow: 0 0 8px 5px rgba(255, 199, 199, .3);
}
.friendlyCell .cellContentImage {
    box-shadow: 0 0 8px 5px rgba(178, 189, 212, 0.43);
}
.commanderCell .cellContentImage {
    border: 2px solid gold;
    box-shadow: 0 0 5px 4px rgba(255, 224, 0, .5);
}

.initSelection {
    /*box-shadow: 0 0 10px 5px rgba(17, 49, 224, 1);
     */

    /*box-shadow: 0 0 20px 8px rgba(17, 49, 224, 1);

     */

    /*background: rgba(95, 255, 0, 0.6);

     */
    /*box-shadow: 0 0 6px 3px rgba(34, 208, 6, 0.8);

     */
}

.initSelection .cellContentImage {
    box-shadow: 0 0 7px 5px rgb(50, 222, 22);
}

.initSelection:hover {
    cursor: pointer;
    /*background: rgba(95, 255, 0, 0.75);*/
    /*
    box-shadow: 0 0 6px 3px rgba(34, 208, 6, 1);
     */
}

.finalSelection {
    background: rgba(241, 173, 0, 0.75);
    box-shadow: 0 0 3px 0px rgba(155, 26, 0, 0.9);
}
.finalSelection:hover {
    cursor: pointer;
    background: rgba(255, 206, 3, 0.85);
    box-shadow: 2px 3px 6px 3px rgba(182, 50, 0, 0.89);
    /*
    box-shadow: 2px 3px 6px 3px rgba(95, 1, 224, 0.8);
     */
}

.cellBlockedImage {
    background: rgba(0, 0, 0, .87);
    width: 100%;
    height: 100%;
    position: absolute
}

.dmgHitImage {
    position: absolute;
    top: 0;
    margin: 0 auto;
    background-image: url(https://ctrlmonster.github.io/wizardchess/public/assets/searched_images/dmg_hit.png);
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    transition: all 0.1s ease-out;
}

.partialHp {
    color: rgb(255, 0, 0)
}
.partialMana {
    color: #2eb7ff
}
.buffedStat {
    color: #52ff00;
}


.spellAffectedCell {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #cb32d2;
}


.fontStroke {
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}


/* ================================================ */

#introContainer {
    width: 100vw;
    height: 85vh;
    margin: 0 auto;
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}

#introContainer h2 {
    font-size: 3rem;
    margin-bottom: 5rem;
}
#introContainer h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    color: gold;
}

#classSelection {
    width: 50vw;
    display: flex;
    justify-content: space-around;
    transition: all 0.2s;
    margin-bottom: 2.5rem;
}

#classSelection div {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

#classSelection img {
    width: 200px;
    height: 200px;
    border: 1px solid silver;
    border-radius: 150px;
    padding: 1rem;
    margin-bottom: .5rem;
    transition: all 0.15s;
    filter: drop-shadow(2px 4px 6px black);
}

#classSelection img:hover {
    /*
    background: linear-gradient(0deg, black, #f7f7f7);
     */
    cursor: pointer;
    /*
    box-shadow: 0 5px 30px 15px gold;
     */
    filter: drop-shadow(2px 4px 6px gold) drop-shadow(0px 1px 1px red);

}

.selectedClassIcon div {
    color: gold!important;
}


.selectedClassIcon img {
    border: 1px solid gold!important;
}


#mulliganContainer {
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-self: center;
    z-index: 1000;
}
#mulliganCardContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 99vw;
}
#mulliganCardContainer .cardElementSize {
    transform: scale(1.1);
    /*
    margin-right: 10rem;
     */
}

.deselectedMulliganCard {
    filter: grayscale(100%);
}

#confirmMulligan {
    margin-top: -5rem;
}
#confirmMulligan:hover {
    cursor: pointer;
}
#confirmMulligan:hover span {
    color: gold!important;
}

#confirmMulligan img {
    width: 25rem;
}