body {
    margin: 0;
    padding: 0;
    background: #383F51;
    /*background: #383F51;*/
    /*background: #F2D0A4;*/
    font-family: 'Poppin', Arial, Helvetica, sans-serif;
}

button {
    /*color: #fff;*/
    font-size: 2.5rem;
    background: rgba(0, 0, 0, 0);
    border: none;
    transition: all 0.1s;
}
button:focus {
    outline: none;
}
button:hover {
    color: darkorange;
    cursor: pointer;
}
.highlightButton {
    color: darkorange;
    font-size: 3rem;
}
.endOfTurnButtonStyle {
    color: #666;
}
.endOfTurnButtonStyle:hover {
    cursor: default;
}


#gameContainer {
    display: flex;
    flex-flow: row;
    /*justify-content: space-between;*/
    justify-content: space-around;
    /*background: #f1ede7;*/
    background: #ddd;
    padding: 1rem;
    /*background: #07123b;*/
}
#canvasContainer {
    /*z-index: 1000;*/
    width: 33%;
}

#cardContainer {
    padding: 25px 15px 35px 15px;
    background: #383F51;
    /*background: rgba(22, 22, 22, 0.71);*/
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /*justify-content: space-around;*/
    /*justify-content: flex-start;*/
    /*max-height: 475px;*/
    /*max-width: 47%;*/
    overflow-y: scroll;
}

#historyContainer {
    width: 18rem;
    /*position: relative;*/
    color: black;
    font-size: 2rem;
    /*background: #000;*/
    /*background: #000;*/
    /*background: white;*/
    /*background: #383F51;*/
    position: absolute;
    right: 0;
    /*top: 0;*/
    height: 650px;
    border-left: 2px solid #ccc;
    padding: 0 10px;
    pointer-events: none;
}

#historyContainer div {
    border-bottom: 1px solid black;
    /*border-bottom: 1px solid orange;*/
    margin-bottom: 5px;
}

.historyEntry {
    color: black;
    border-bottom: 1px solid black;
    /*border-bottom: 1px solid orange;*/
    padding: 0 4px 0.5rem 4px;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

#cellTooltip {
    color: black;
    font-size: 2rem;
    position: absolute;
    left: 35.5rem;
    top: 8.5rem;
    /*width: 18rem;*/
    padding: 20px 15px;
    border: 4px solid #ccc;
    border-radius: 3px;
    background: white;
    z-index: 10;
    pointer-events: none;
}

#cellTooltip div {
    margin-bottom: 2px;
}

#introMessage {
    font-size: 2rem;
    color: white;
    margin: auto auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#gameOverMessage {
    position: absolute;
    left: 40%;
    top: 20%;
    padding: 25px 50px;
    border: 3px solid #ccc;
    font-size: 2.5rem;
    background: #ddd;
}

#startDuelMessage {
    position: absolute;
    left: 30%;
    top: 20%;
    padding: 25px 50px;
    font-size: 5rem;
    color: #6314e6;
}

#returnToLobby {
    text-decoration: underline;
}
#returnToLobby:hover {
    color: orange;
    cursor: pointer;
}

#heroStatsContainer {
    padding-right: 2px;
    border-radius: 3px;
    font-size: 2rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2.3rem;
}

.rotateCanvas {
    transform: rotate(180deg);
}

#enemyStatsContainer {
    border-radius: 3px;
    font-size: 2rem;
    padding-left: 2px;
    margin-top: 1.5rem;
}

.heroStat {
    padding: 5px;
    margin: auto;
}

#heroSkillsContainer {

}
#enemySkillsContainer {

}

#heroArea {
    display: flex;
    align-items: flex-end;
    width: 33%;
    justify-content: flex-end;
    padding-right: 25px;
    box-sizing: border-box;
}
#enemyArea {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 33%;
}

.skillIcon {
    position: relative;
    width: 7rem;
    height: 7rem;
    pointer-events: none;
}
#enemyArea .skillIcon {
}

.enemySkillIcon {
    position: relative;
    width: 5rem;
    height: 5rem;
    pointer-events: none;
}

.skillOnCd {
    filter: grayscale(100%);
}
.skillCd {
    color: darkorange;
    font-size: 6.5rem;
    position: absolute;
}

#enemySkillsContainer .skillCd {
    font-size: 4.5rem;
}


.heroSkillTooltip {
    position: absolute;
    left: 0;
    bottom: -10px;
    /*width: 10rem;
    height: 10rem;*/
    /*color: rgba(0, 0, 0, 0);*/
}
#enemySkillsContainer .heroSkillTooltip {
    top: 0;
}

.mainSkillInfo {
    /*display: block;*/
    color: darkorange;
}

.heroSkillbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
}

.heroSkill {
    border: 5px solid #333;
    border-radius: 5px;
    /*margin: 0 1rem;*/
    margin-right: 1rem;
    /*padding: 5px;*/
    font-size: 2rem;
    color: #333;
    background: #666;
    display: flex;
    justify-content: center;
    position: relative;
    /*margin-left: 4.5rem;*/
}
.heroSkill:hover {
    cursor: pointer;
    box-shadow: 0 5px 50px 25px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);
    border: 5px solid darkorange;
    /*color: crimson;
    border: 3px solid yellow;
    box-shadow: 0 0px 45px 10px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);*/
}

#enemySkillsContainer .heroSkill {
    cursor: auto;
}


.playableSkill {
    /*background: #000;
    color: gold;*/
    /*background: #eca867;
    color: #220C10;*/
    box-shadow: 0 0px 25px 7px #6314e6, 0px 0px 22px 7px rgb(151, 219, 255);
    /*background: #fff;*/
}

.displayHeroSkillTooltip {
    display: block;
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 6.5rem;
    left: -6.5rem;
    width: 20rem;
    z-index: 10;
    pointer-events: none;
}
#enemySkillsContainer .displayHeroSkillTooltip {
    top: 6.5rem;
    /*height: 100%;*/
    bottom: auto;
}


/*#bottomActionBar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2rem 0;
    position: relative;
}*/

#buttonContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


#heroHp {
    color: crimson;
}
#heroMana {
    color: #385eff;
}

#enemyHeroHp {
    color: crimson;
}
#enemyHeroMana {
    color: #385eff;
}

.spellCardStyle {
    border: 1px solid #2eb7ff;
}
.minionCardStyle {
    border: 1px solid #fffe27;
}
.cardStyle {
    border-radius: 3px;
    background: #381e1c;
    height: 20rem;
    width: 13rem;
    margin: 0 1rem;
    transition: .2s all;
    position: relative;
    padding: 7px 0;
}
.cardStyle div {
    font-size: 1.5rem;
}

.cardStyle:hover {
    background: #4c2926;
    border: 4px solid #ffdc36;
    /*box-sizing: border-box;*/
    box-shadow: 0 5px 110px 25px red, 1px 6px 22px 7px rgba(255, 255, 0, 1);
    cursor: pointer;
}

.cardContent {
    border: 1px solid #ff9b0e;
    border-radius: 3px;
    height: 90%;
    margin: 0.85rem 0.95rem;
    background: #eca867;
    pointer-events: none;
}

.displayTooltip {
    display: block;
    padding: 10px;
    border: 4px solid #ccc;
    border-radius: 3px;
    color: white;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: -2rem;
    left: -1.5rem;
    /*
    right: 3.5rem;
     */
    max-width: 20rem;
    z-index: 10;
    pointer-events: none;
}

.hideTooltip {
    display: none!important;
}

.hasTooltip::after {
    content: "Effect";
    position: absolute;
    top: 0;
    left: 0;
    color: red;
    font-size: 1.4rem;
}

.playableMinion {
    border: 4px solid #fffe27;
    box-shadow: 0 0 30px 10px #fffe27;
}

.playableSpell {
    border: 4px solid #2eb7ff;
    box-shadow: 0 0 30px 10px #2eb7ff;
}


/* scroll bar styles */

.scrollbar
{
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: rgba(0, 0, 0, 0);
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar
{
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-image: -webkit-gradient(linear,
    left bottom,
    left top,
    color-stop(0.44, rgb(122,153,217)),
    color-stop(0.72, rgb(73,125,189)),
    color-stop(0.86, rgb(28,58,148)));
}


/* ===================================================== */

/* select styling */

.select-css {
    display: block;
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 700;
    color: #383F51;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 250px;
    /*width: 100%;
    max-width: 100%;*/
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px #383F51;
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}


/* ===================================================== */
